/* .loginLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formText {
  width: 50%;
  height: auto;
}

.button {
  width: 50%;
  height: auto;
} */